@CHARSET "UTF-8";

	body {
		background: url('../images/bg.jpg' ) no-repeat center center fixed;
		background-size: 100% 100%;
		font-family: '맑은 고딕', '고딕', '굴림';
	}	
	.container {
		width : 800px;
		height : 1000px; 
		margin: 0 auto;
		text-align: center;
		font-size: 12px;
	}	
	header h1 {
		padding-top: 100px;
		font-weight: bold;
		font-size: 25px;
		margin: 0 auto;
		font-size : 3em;	
	}
	section table {		
		margin: 30px 100px 10px 0px;
		background-color: #E8CEC2;
		font-size:1.2em;	
		border: 1px solid black;
		border-collapse: collapse;
	}
	section {
		margin-top : 80px;
		margin: 0 auto;
	}
	section table tr td{
		border : 1px solid black;
		border-collapse : collapse;	
		font-size : 15px;
	}
	section .menu {
		background-color : #EDA900;
		font-size : 15px;
		font-weight: bold;
		text-decoration : none;
		color : #003A51;
	}
	section .content {
		float:clear;
		padding-left: 10px;
	}
	section .content pre {
		width : 500px;
		white-space: normal;
	}
	
	section .button {
		background-color : #EDA900;
		font-size : 15px;
		font-weight: bold;
		text-decoration : none;
		color : lightgrey;
		text-align : center;
	}
	section table tr td a{
		text-decoration : none;
		color : black;
	}
	section table tr td pre{
		height: 100%;
		padding : 5px 0px px 10px;
		font-family: '맑은 고딕', '고딕', '굴림';
	}
	footer {
		margin-top: 20px;
	}
	footer a {
		margin: 10px;
		text-decoration : none;
		color : black;
		font-weight : bold;
		font-size : 17px;	
	}



