@CHARSET "UTF-8";

body {
	font-size: 14px; 
	margin: 0 auto;
	text-align: center;
}

table {
	font-size: 14px;
	text-align: center;
	border: 1pt solid black;
}

select {
	font-size: 14px; 
}

form {
	font-size: 14px; 
}

p{
	font-weight: bold;
}



